md-card{
  background-size: cover;
  background-position: center;
  padding: 15px;
}

md-card>div{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}

md-card>md-card-actions{
  margin-left: 0px;
}

input{
  width: 150px;
  font-size: 16px;
  line-height: 22px;
}
