<md-toolbar layout class="md-toolbar-tools">
  <h1>Loyalty Company</h1>
</md-toolbar>

<div flex layout="row">
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left" ng-click="$ctrl.toggleList()">
    <md-list>
      <md-list-item>
        <md-button>
          VOLET DE FILTRES
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div layout="column" layout-align="start stretch" flex>
    <md-toolbar layout="row" layout-align="space-between center" class="md-toolbar-tools md-hue-3">
      <md-button class="menu md-icon-button md-fab md-raised md-mini" ui-sref="product">
        <md-icon md-svg-icon="add"></md-icon>
      </md-button>

      <md-button class="menu md-icon-button md-fab md-raised md-mini" hide-gt-sm ng-click="$ctrl.toggleList()">
        <md-icon md-svg-icon="filter"></md-icon>
      </md-button>

      <input placeholder="Rechercher" ng-model="$ctrl.config.search" ng-change="$ctrl.getProducts(0)" ng-model-options="{debounce: 500}">
    </md-toolbar>

    <md-content id="content">
        <md-card ng-repeat="product in $ctrl.products" ng-style="$ctrl.setBckgImg(product.image)">
            <div>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{product.name}}</span>
                </md-card-title-text>
              </md-card-title>

              <md-card-content>
                <p>
                  {{product.description}}
                </p>
              </md-card-content>
            </div>

            <md-card-actions layout="row" layout-align="start center">
              <md-button class="md-raised" ui-sref="product({id: product.id})">Modifier</md-button>
            </md-card-actions>
          </md-card>
        </md-content>

        <md-toolbar layout="row" layout-align="center center" class="md-toolbar-tools md-hue-3">
          <lc-pagination ng-if="$ctrl.nbItems" pages="$ctrl.getNbPages()" set-page="$ctrl.getProducts(page*$ctrl.config.limit)"></lc-pagination>
        </md-toolbar>
  </div>

  </div>
